<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div class="form-wrap">
        <h1>Cadastro</h1>
        <p>É de graça e leva apenas um minuto</p>
        <form action="signin.html">
          <div class="form-group">
            <label for="first-name">Primeiro nome</label>
            <input type="text" name="firstName" id="first-name" />
          </div>
          <div class="form-group">
            <label for="last-name">Ultimo nome</label>
            <input type="text" name="lastName" id="last-name" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="form-group">
            <label for="password2">Confirme a senha</label>
            <input type="password" name="pasword2" id="password2" />
          </div>
          <button id="btnCadastrar" type="submit" class="btn">Cadastrar</button>
          <p class="bottom-text">
            Clicando no botão acima vc concorda con nossos
            <a href="#">Termos e condições</a> and
            <a href="#">Termos de privacidade</a>
          </p>
        </form>
      </div>
      <footer>
        <p>Já tem uma conta? <a href="signin.php">Entrar aqui</a></p>
      </footer>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
