<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <title>Vendas</title>
  </head>
  <body>
    <header class="" id="headerPetShopHome">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Petshop</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="adote.html">Adote um pet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="vendas.html">Vendas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="inserirDoacao.php">Doe um pet</a>
              </li>
          </ul>
            <form action="signin.html"><button id="cadButton" class="btn btn-light my-2 my-sm-0 mr-2" type="submit">Entrar</button></form>
            <form action="signup.html"><button id="cadButton" class="btn btn-light my-2 my-sm-0" type="submit">Cadastrar</button></form>
        </div>
      </nav>
    </header>

    <section>
      <div class="container mt-4" id="corpoPetShopHome">
        <div class="row" id="firstRowCard">
          <div class="card col-sm-12 col-md-5 col-lg-3 m-4" id="firstCard">
            <img
              class="card-img-top img-fluid"
              src="img/racaocat1.jpg"
              alt="Card image cap"
              style="width: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Ração Whiskas</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantidade em estoque: XXX</li>
              <li class="list-group-item">Preço: R$XXX</li>
            </ul>
            <div class="card-body">
              <button
                class="btn btn-outline-success"
                id="loginButton"
                type="button"
              >
                Comprar
              </button>
            </div>
          </div>
          <div class="card col-sm-12 col-md-5 col-lg-3 m-4" id="secondCard">
            <img
              class="card-img-top img-fluid"
              src="img/racaocat2.jpg"
              alt="Card image cap"
              style="width: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Ração Origens</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantidade em estoque: XXX</li>
              <li class="list-group-item">Preço: R$XXX</li>
            </ul>
            <div class="card-body">
              <button
                class="btn btn-outline-success"
                id="loginButton"
                type="button"
              >
                Comprar
              </button>
            </div>
          </div>
          <div class="card col-sm-12 col-md-5 col-lg-3 m-4" id="thirdCard">
            <img
              class="card-img-top img-fluid"
              src="img/racaodog1.jpg"
              alt="Card image cap"
              style="width: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Ração Golden</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantidade em estoque: XXX</li>
              <li class="list-group-item">Preço: R$XXX</li>
            </ul>
            <div class="card-body">
              <button
                class="btn btn-outline-success"
                id="loginButton"
                type="button"
              >
                Comprar
              </button>
            </div>
          </div>
          <div class="card col-sm-12 col-md-5 col-lg-3 m-4" id="firstCard">
            <img
              class="card-img-top img-fluid"
              src="img/brinqpet1.jpg"
              alt="Card image cap"
              style="width: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Brinquedo</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantidade em estoque: XXX</li>
              <li class="list-group-item">Preço: R$XXX</li>
            </ul>
            <div class="card-body">
              <button
                class="btn btn-outline-success"
                id="loginButton"
                type="button"
              >
                Comprar
              </button>
            </div>
          </div>
          <div class="card col-sm-12 col-md-5 col-lg-3 m-4" id="secondCard">
            <img
              class="card-img-top img-fluid"
              src="img/brinqpet2.jpg"
              alt="Card image cap"
              style="width: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Brinquedo</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantidade em estoque: XXX</li>
              <li class="list-group-item">Preço: R$XXX</li>
            </ul>
            <div class="card-body">
              <button
                class="btn btn-outline-success"
                id="loginButton"
                type="button"
              >
                Comprar
              </button>
            </div>
          </div>
          <div class="card col-sm-12 col-md-5 col-lg-3 m-4" id="thirdCard">
            <img
              class="card-img-top img-fluid"
              src="img/racaodog2.jpg"
              alt="Card image cap"
              style="width: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Ração Faro</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Quantidade em estoque: XXX</li>
              <li class="list-group-item">Preço: R$XXX</li>
            </ul>
            <div class="card-body">
              <button
                class="btn btn-outline-success"
                id="loginButton"
                type="button"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="m-4" id="footerPetShopHome">
      <div class="d-flex justify-content-center">
        <div class="container">
          <div class="row">
            <ul class="col-5 list-group">
              <li class="list-group-item">
                <h4>Atendimento</h4>
              </li>
              <li class="list-group-item">
                <a href="" class="">(99)2345-6789</a>
              </li>
              <li class="list-group-item">
                <a href="" class="">(99)2345-6789</a>
              </li>
              <li class="list-group-item">
                <a href="mailto:" class="">sac@petShop.com.br</a>
              </li>
              <li class="list-group-item">
                <span class="">Seg. à&nbsp; Sex. das 9 às 17h</span>
              </li>
            </ul>
            <ul class="col-5 list-group">
              <li class="list-group-item">
                <h4>Pagamento</h4>
              </li>
              <li class="list-group-item">
                <img
                  src="https://images.tcdn.com.br/assets/store/img/icons/formas_pagamento/pag_peqcartaovisa.png?3421a2f48ea3a819a39cddd5ffeea85d"
                  class=""
                  alt="Cartão Visa"
                />
              </li>
              <li class="list-group-item">
                <img
                  src="https://images.tcdn.com.br/assets/store/img/icons/formas_pagamento/pag_peqcartaomastercard.png?3421a2f48ea3a819a39cddd5ffeea85d"
                  class=""
                  alt="Cartão Mastercard"
                />
              </li>
              <li class="list-group-item">
                <img
                  src="https://images.tcdn.com.br/assets/store/img/icons/formas_pagamento/pag_peqcartaoamex.png?3421a2f48ea3a819a39cddd5ffeea85d"
                  class=""
                  alt="Cartão Amex"
                />
              </li>
              <li class="list-group-item">
                <img
                  src="https://images.tcdn.com.br/assets/store/img/icons/formas_pagamento/pag_peqcartaodiners.png?3421a2f48ea3a819a39cddd5ffeea85d"
                  class=""
                  alt="Cartão Diners"
                />
              </li>
              <li class="list-group-item">
                <img
                  src="https://images.tcdn.com.br/assets/store/img/icons/formas_pagamento/pag_peqcartaoelo.png?3421a2f48ea3a819a39cddd5ffeea85d"
                  class=""
                  alt="Cartão Elo"
                />
              </li>
              <li class="list-group-item">
                <img
                  src="https://images.tcdn.com.br/assets/store/img/icons/formas_pagamento/pag_pd_peqcartaohiper.png?3421a2f48ea3a819a39cddd5ffeea85d"
                  class=""
                  alt="Cartão Hipercard"
                />
              </li>
              <li class="list-group-item">
                <img
                  src="https://images.tcdn.com.br/assets/store/img/icons/formas_pagamento/pag_peqcartaohiperit.png?3421a2f48ea3a819a39cddd5ffeea85d"
                  class=""
                  alt="Cartão Hiper"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer id="main-footer">
      <p>Pet shop TCC &copy; 2021, Todos direitos reservados</p>
    </footer>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/jquery-3.6.0.slim.min.js"></script>
    <script src="js/app.js"></script>    
    <script src="js/bootstrap.js"></script>
  </body>
</html>
