* {
    margin: 0;
    padding: 0;
}

/* Main Styling */
body {
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

#petshop-logo-header {
    max-width: 10%;
    height: auto;
}

#textPrimary {
  color: #f7c08a;
}

ul {
    margin: 0;
}

/* Navbar */
#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
    padding: 0;
  }
  
  #navbar a {
    color: #fff;
  }
  
  #navbar h1 {
    float: left;
    padding-top: 20px;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
  }
  
  #navbar ul li {
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 30px;
    text-align: center;
  }
  
  #navbar ul li a:hover {
    background: #444;
    color: #5bc0de;
    text-decoration: none;
  }
  

/* Home Info */
#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('https://upload.wikimedia.org/wikipedia/commons/d/d7/A_Online_Shop_for_Pet.jpg') no-repeat center;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #e5ebe7;
  color: #fff;
}

.back-light {
  background: #eaf0ec;
  color: rgb(0, 0, 0);
}

.clr {
  clear: both;
}

/* Footer */
#main-footer {
  text-align: center;
  background: #0275d8;
  color: #fff;
  padding: 20px;
}

/* Home Info */
#sell-info {
  height: 400px;
}

#sell-info .info-img {
  float: right;
  width: 50%;
  background: url('https://upload.wikimedia.org/wikipedia/commons/d/d7/A_Online_Shop_for_Pet.jpg') no-repeat center;
  min-height: 100%;
}

#sell-info .info-content {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#sell-info .info-content p {
  padding-bottom: 30px;
}

.card-text {
  font-size: 20px;
}

.adoteCard {
  display: flex;
  justify-content: center;
}